[submodule "themes/KeepIt"]
	path = themes/KeepIt
	url = https://github.com/matt-maguire/KeepIt.git
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/matt-maguire/hugo-embed-pdf-shortcode.git
